body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: rgb(82, 82, 82);
  background: #000 url('./background.jpg') no-repeat center center/cover;
  font-weight: bold;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
